*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}  

/* Estilos mobile */
header nav ul {
    color: #fff;
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* index */
    /*barra*/
header {
    display: flex;
    justify-content: space-between; /*separar logo de botones*/
    background-color: #222222;   /* color de la barra */
    align-items: center;
    padding: 20px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;  
}
.logo img{     /*LOGO*/
    width: 45px;
}


.img1 {                 
    width: 100%;
    height: auto;
}
  
h3 {
    color: red;
}



.noticias{
    display: flex;
}
 

#linkg {
    margin-left: auto;
    color: red;
}
#linkn {
    margin-left: 40px;
    color: red;
}         
 
.img2 {
    width: 100px;
    height: auto;
}
/* fin index */

/*                                        NOTICIAS                     */
.container div img {
    width: 100%;
    height: 100%;
}
/*                                      FOOTER                              */
.footer{
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

/*                                  PLANTEL                             */
.plantel img{
    width: 100%;
    height: 100%;
}
/*                                  CARNET                                 */

.carnet{
    justify-content: center;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}

.carnet ul{
    list-style-position: inside;
    color: red;
}
#check{
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
}

/*                                  ACCESO                              */

.acceso img{
    margin-left: 25%;
    width: 50%;
    height: auto;   
}
.acceso p {
    margin-left: 25%;
    width: 10%;
    text-align: center;
    color: #fff;
    background-color: #222222;
}
#acc{
    width: 100%;
}

/* Desktop NOTICIAS Y PLANTEL */ 
@media screen and (min-width: 1024px) {
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 50%);
        object-fit: cover;
        gap: 1rem;
        padding: 1rem;
        align-content: center;
}
    .plantel{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        font-weight: bold;
    }
}
